<div class="container">

  <h2>Search for a movie:</h2>

  <form class="movie-search" method="post" action="/movies/new">
    <label>Movie title:</label>
    <br>
    <input type="text" name="name">
    <br>
    <br>
    <input type="submit" name="search-movie" value="Search">
  </form>
</div>
